
@{
    ViewData["Title"] = "About";
}

<sectiion>
    <img class="img-fluid" src="~/images/about-banner.png" alt="About-banner" style="width:100%;height: auto;">
</sectiion>

<section class="few-words-section">

    <div class="container few-word-div">
        <p>A Few words about us</p>
    </div>

    <div class="faq-pattern">
        <hr>
        <img src="~/images/star.png" style="width: 24px;height: 25px;">
        <hr class="hr2">
    </div>

    <div class="container" style="max-width: 987px;text-align: justify;">
        <div class="col  about-para">
            <p class="text-center row">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.
            </p>
            <p class="text-center row">
                Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.
            </p>

        </div>

    </div>
</section>

<section class="story-section">

    <div class="container few-word-div">
        <p>Our Story</p>
    </div>

    <div class="faq-pattern">
        <hr>
        <img src="~/images/star.png" style="width: 24px;height: 25px;">
        <hr class="hr2">
    </div>

    <div class="container" style="max-width: 987px;text-align: justify;">
        <div class="col about-para">
            <p class="text-center row">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.
            </p>
            <p class="text-center row">
                Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit.
            </p>
            <p class="text-center row">
                Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.
            </p>
        </div>

    </div>
</section>

<a href="#top" class="to-top">
    <img src="~/images/up-aero.png">
</a>

