@model UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Become Helper";
}

<section class="become-pro-background" id="top">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4 sp-form-left" style="padding-top: 200px;">
                <h1 style="margin-top: 100px;">
                    Do not feel like housework?
                </h1>
                <div class="sp-div-ul">
                    <ul>
                        <li class="sp-form-ul"><img src="~/images/forma-1-copy-10.png">open time-management</li>
                        <li class="sp-form-ul"><img src="~/images/forma-1-copy-10.png">only accept suitable requests</li>
                        <li class="sp-form-ul"><img src="~/images/forma-1-copy-10.png">fair and fixed hourly wage</li>
                        <li class="sp-form-ul"><img src="~/images/forma-1-copy-10.png">ideal part time job</li>
                        <li class="sp-form-ul"><img src="~/images/forma-1-copy-10.png">personal contact person</li>
                    </ul>
                </div>
            </div>

            <div class="d-flex col-lg-4 col-md-6 col-sm-10 justify-content-center sp-register">
                <form class="become-pro-form" method="post" action="@Url.Action("BecomeHelper","Home")">
                    <p class="register-now">Register Now!</p>
                    <div class="form-group">
                        <input class="form-control" asp-for="FirstName" type="text" id="fname" placeholder="First Name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="LastName" type="text" id="lname" placeholder="Last Name">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="Email" type="email" id="email" placeholder="Email address">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+49</div>
                            </div>
                            <input class="form-control" asp-for="Mobile" pattern="[1-9]{1}[0-9]{9}" type="tel" id="MobileNo" placeholder="Phone Number">
                        </div>
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="form-control" asp-for="Password" id="password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="ConfirmPassword" id="confirm_pswd" placeholder="Confirm Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Check1">
                        <label class="form-check-label" for="defaultCheck1">
                            Yes, I want the newsletter from the Subscribe to Helperland GmbH with vouchers, trends, information, promotions and individualized offers. I can unsubscribe from the newsletter at any time in the newsletter and in the customer account.
                        </label>
                      </div> -->
                    <div class="form-check">
                        <input asp-for="isChecked" class="form-check-input" type="checkbox" required id="Check2">
                        <label class="form-check-label" for="defaultCheck1">
                            I accept <a href="#">terms and conditions</a> & <a href="#">privacy policy</a>
                        </label>
                        <span asp-validation-for="isChecked" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <div class="row justify-content-center">
                            <button type="submit" class="form-btn" formmethod="post">
                                Get Started
                                <img src="~/images/arrow-white.png">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="downarrow">
        <div class="image1 "><a href="#howitworks"><img src="~/images/ellipse.png"></a></div>
        <div class="image2"><a href="#howitworks"><img img src="~/images/shape-1.png"></a></div>
    </div>
</section>




<section class="how-it-works">
    <div id="howitworks">
        <img src="~/images/blog-left-bg.png" class="remove-img" style="position: absolute;">

        <img src="~/images/blog-right-bg.png" class="remove-img" style="position: absolute;right: 0;">
        <div class="how-it-works-title">
            <p>How it works</p>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="register-yourself">
                <div class="register-yourself-left">
                    <p class="how-it-works-services-title">Register yourself</p>
                    <p class="how-it-works-services-content">Provide your basic information to register yourself as a service provider.</p>
                </div>
                <div class="register-yourself-right">
                    <img class="register-img" src="~/images/register-img.png">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="get-request">
                <div class="get-request-left">
                    <img class="register-img" src="~/images/service-req-img.png">
                </div>
                <div class="get-request-right">
                    <p class="how-it-works-services-title">Get service requests</p>
                    <p class="how-it-works-services-content">You will get service requests from customes depend on service area and profile.</p>
                </div>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="complete-service">
                <div class="complete-service-left">
                    <p class="how-it-works-services-title">Complete service</p>
                    <p class="how-it-works-services-content">Accept service requests from your customers and just complete your work.</p>
                </div>
                <div class="complete-service-right">
                    <img class="register-img" src="~/images/complete-service-img.png">
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#top" class="to-top">
    <img src="~/images/up-aero.png">
</a>
