
@model ContactViewModel

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Contact";
}



<sectiion class="contact-banner">
    <img class="img-fluid" src="~/images/group-16_2.png" alt="Contact-banner">
</sectiion>


<section class="contact-section">

    <div class="container contact-title">
        <p>Contact us</p>
    </div>

    <div class="faq-pattern">
        <hr>
        <img src="~/images/star.png" style="width: 24px;height: 25px;">
        <hr class="hr2">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm text-center">
                <img src="~/images/forma-1_2.png" class="contact-img">
                <p>1111 Lorem ipsum text 100,<br> Lorem ipsum AB</p>
            </div>
            <div class="col-lg-4 col-sm text-center">
                <img src="~/images/phone-call.png" class="contact-img">
                <p>
                    +49 (40) 123 56 7890 <br>+49 (40) 987 56 0000
                </p>
            </div>
            <div class="col-lg-4 col-sm text-center">
                <img src="~/images/mail-logo.png" class="contact-img">
                <p style="padding-top: 10px;">info@helperland.com</p>
            </div>
        </div>

    </div>
</section>

<div class="container">
    <hr class="hr1">
</div>



<section class="form-section">
    <div class="container get-in-touch">


        <p>Get in touch with us</p>
        @if (ViewBag.isSuccess == true)
        {
            <div class="container col-lg-6 justify-content-center alert alert-success alert-dismissible fade show" role="alert">
                <strong>Your query has been submitted successfully. Our helpdesk team will contact you soon!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <form enctype="multipart/form-data" method="post">
            <div class="row justify-content-center form-group">
                <div class="col-lg-3 col-sm-6 col">
                    <div class="">
                        <input class="form-control" asp-for="Name" type="text" placeholder="First Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col">
                    <div class="form-group">
                        <input class="form-control" asp-for="LastName" type="text" placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center form-group">
                <div class="col-lg-3 col-sm-6 col" style="margin-top: 15px;">
                    <div class="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+49</div>
                            </div>
                            <input class="form-control" asp-for="PhoneNumber" pattern="[1-9]{1}[0-9]{9}" type="tel" placeholder="Phone Number" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col">
                    <div class="">
                        <input class="form-control" asp-for="Email" type="email" placeholder="Email address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center form-group">
                <div class="col-lg-6 col-md-12  col">
                    <div class="">
                        <select class="form-control" asp-for="Subject">
                            <option value="" hidden>Subject</option>
                            <option value="Service">Service</option>
                            <option value="Contact">Contact</option>
                            <option value="Inquiry">Inquiry</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center form-group">
                <div class="col-lg-6 col-md-12  col">
                    <textarea class="form-control" style="height: 146px;" type="text" asp-for="Message" placeholder="Message"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12  col">
                    <input asp-for="File" type="file" name="File" class="form-control-file" id="exampleFormControlFile1" style="border: none;" />
                    <span asp-validation-for="File"></span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12 col form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" class="form-check-inline" required style="margin-bottom: 0px;height: auto;" />
                        <span class="terms">Our current ones apply <a href="#">privacy policy</a>. I hereby agree that my data entered into the contact form will be stored electronically and processed and used for the purpose of establishing contact. The consent can be withdrawn at any time pursuant to Art. 7 (3) GDPR by informal notification (eg by e-mail).</span>
                    </label>
                </div>

            </div>

            <div class="text-center">
                <div class="row justify-content-center">
                    <button type="submit" class="form-btn">Submit</button>
                </div>
            </div>

        </form>
    </div>
</section>

<section class="map-section">
    <div>
        <img class="img-fluid map" src="~/images/group-16.png" alt="map">
        <!-- <img class="pin" src="~/images/pin.png" alt="pin"> -->
    </div>
</section>


<a href="#top" class="to-top">
    <img src="~/images/up-aero.png">
</a>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}