@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<section class="background" id="top">
    <section class="banner-section">
        <div >
            <h1 class="mt-5">
                Do not feel like housework?
            </h1>
            <p class="inner-Lorem-ipusm-text">Great! Book now for Helperland and enjoy the benefits</p>
            <div class="inner-Lorem-ipusm-text">
                <span> <img src="~/images/forma-1-copy-10.png" alt="tick"> </span>
                <span>
                    certified & insured helper
                </span>
            </div>
            <div class="inner-Lorem-ipusm-text">
                <span> <img src="~/images/forma-1-copy-10.png" alt="tick"> </span>
                <span>
                    easy booking procedure
                </span>
            </div>
            <div class="inner-Lorem-ipusm-text">
                <span> <img src="~/images/forma-1-copy-10.png" alt="tick"> </span>
                <span>
                    friendly customer service
                </span>
            </div>
            <div class="inner-Lorem-ipusm-text">
                <span> <img src="~/images/forma-1-copy-10.png" alt="tick"> </span>
                <span>
                    secure online payment method
                </span>
            </div>
        </div>
    </section>

    <section class="btn-section btn-wrapper text-center ">
        <button class="blue-btn">Let's Book  Cleaner</button>
    </section>

    <section class="process-section">
        <div class="container">
            <div class="row justify-content-center process-img align-items-center services-text">
                <div class="col-lg-2  postcode-img text-center ">
                    <img src="~/images/forma-1.png" class="">
                    <p>Enter your postcode</p>
                </div>
                <div class="col-lg-1  text-center">
                    <img src="~/images/step-arrow-1-copy-2.png" class="remove arrow1">
                </div>
                <div class="col-lg-2  plan-img text-center">
                    <img src="~/images/forma-2.png" class="">
                    <p>Select your plan</p>
                </div>
                <div class="col-lg-1   text-center">
                    <img src="~/images/step-arrow-1-copy.png" class="remove arrow2">
                </div>
                <div class="col-lg-2  payonline-img text-center">
                    <img src="~/images/forma-3.png" class="">
                    <p>Pay securely online</p>

                </div>
                <div class="col-lg-1   text-center">
                    <img src="~/images/step-arrow-1-copy-2.png" class="remove arrow1">
                </div>
                <div class="col-lg-2  service-img text-center">
                    <img src="~/images/forma-4.png" class="">
                    <p>Enjoy amazing service</p>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="downarrow">
            <div class="image1 "><a href="#scroll"><img src="~/images/ellipse.png"></a></div>
            <div class="image2"><a href="#scroll"><img img src="~/images/shape-1.png"></a></div>
        </div>
    </section>
</section>


<section class="why-helperland" id="scroll">
    <p class="why-helperland-title">Convince yourself! </p>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-4 zoom-in">
                <img src="~/images/group-21.png" class="">
                <p class="helper-land-images-title">
                    Friendly & Certified Helpers
                </p>
                <p class="helper-land-images-content">
                    We want you to be completely satisfied with our service and feel comfortable at home. In order to
                    guarantee this, our helpers go through a test procedure. Only when the cleaners meet our high
                    standards, they may call themselves Helper.
                </p>
            </div>
            <div class="col-lg-4 zoom-in">
                <img src="~/images/group-23.png">
                <p class="helper-land-images-title">Transparent and secure payment </p>
                <p class="helper-land-images-content ">
                    We have transparent prices, you do not have to scratch money or money on the sideboard Leave it: Pay
                    your helper easily and securely via the online payment method. You will also receive an invoice for each
                    completed cleaning.
                </p>
            </div>
            <div class="col-lg-4 zoom-in">
                <img src="~/images/group-24.png">
                <p class="helper-land-images-title">We're here for you</p>
                <p class="helper-land-images-content content-2">
                    You have a question or need assistance with the booking process? Our customer service is happy to help
                    and advise you. How you can reach us you will find out when you look under "Contact". We look forward
                    to hearing from you or reading.
                </p>
            </div>

        </div>
    </div>
</section>

<section class="blog-section">
    <div>
        <img src="~/images/blog-left-bg.png" class="remove-img" style="position: absolute;">

        <img src="~/images/blog-right-bg.png" class="remove-img" style="position: absolute;right: 0;">

        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>

                <div class="col-lg-6">
                    <p class="three-img-title">We do not know what makes you happy, but ... </p>
                    <p>
                        if it's not dusting off, our friendly helpers will free you from this burden - do not worry anymore about
                        spending valuable time doing housework, but savor life,
                    </p>
                    <p> you're well worth your time with beautiful
                        experiences. Free yourself and enjoy the gained time: Go celebrate, relax, play with your children, meet
                        friends or dare to jump on the bungee.</p>
                    <p>Other leisure ideas and exclusive events can be found in our blog
                        - guaranteed free from dust and cleaning tips!</p>
                </div>
                <div class="col-lg-3 zoom-in">
                    <img src="~/images/group-36.png" class="three-img img-responsive">
                </div>
            </div>
        </div>

        <p class="why-helperland-title">Our Blog</p>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-4">
                    <div class="card text-left">
                        <img class="card-img-top" src="~/images/group-28.png">
                        <div class="card-body">
                            <p class="card-title blog-title">Lorem ipsum dolor sit amet</p>
                            <p class="card-text blog-date">Jan 28, 2019</p>
                            <p class="card-text blog-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                            <p class="how-it-works-services-content">Read the Post <a href=#><img src="~/images/shape-2.png"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-left">
                        <img class="card-img-top" src="~/images/group-29.png">
                        <div class="card-body">
                            <p class="card-title blog-title">Lorem ipsum dolor sit amet</p>
                            <p class="card-text blog-date">Jan 28, 2019</p>
                            <p class="card-text blog-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                            <p class="how-it-works-services-content">Read the Post <a href=#><img src="~/images/shape-2.png"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-left">
                        <img class="card-img-top" src="~/images/group-30.png">
                        <div class="card-body">
                            <p class="card-title blog-title">Lorem ipsum dolor sit amet</p>
                            <p class="card-text blog-date">Jan 28, 2019</p>
                            <p class="card-text blog-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                            <p class="how-it-works-services-content">Read the Post <a href=#><img src="~/images/shape-2.png"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="customer-review">

    <p class="why-helperland-title">What Our Customers Say</p>

    <div class="container">
        <div class="row justify-content-center customer-feedback" >
            <div class="col-lg-4 review-card justify-content-center">
                <div class="row customer">
                    <div class="col-lg-3">
                        <img src="~/images/group-31.png" class="customer-img">
                    </div>
                    <div class="col-lg-6">
                        <p class="customer-name">Lary Watson</p>
                        <p class="customer-city">Manchester</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="~/images/message.png" style="float: right;margin-top: -20px;" class="cmnt">
                    </div>
                </div>
                <div class="customer-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                    <p class="how-it-works-services-content">Read More <a href=#><img src="~/images/shape-2.png"></a></p>
                </div>
            </div>

            <div class="col-lg-4 review-card justify-content-center">
                <div class="row customer">
                    <div class="col-lg-3">
                        <img src="~/images/group-32.png" class="customer-img">
                    </div>
                    <div class="col-lg-6">
                        <p class="customer-name">John Smith</p>
                        <p class="customer-city">Manchester</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="~/images/message.png" style="float: right;margin-top: -20px;" class="cmnt">
                    </div>
                </div>
                <div class="customer-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                    <p class="how-it-works-services-content">Read More <a href=#><img src="~/images/shape-2.png"></a></p>
                </div>
            </div>

            <div class="col-lg-4 review-card justify-content-center">
                <div class="row customer">
                    <div class="col-lg-3">
                        <img src="~/images/group-33.png" class="customer-img">
                    </div>
                    <div class="col-lg-6">
                        <p class="customer-name">Lars Johnson</p>
                        <p class="customer-city">Manchester</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="~/images/message.png" style="float: right;margin-top: -20px;" class="cmnt">
                    </div>
                </div>
                <div class="customer-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                    <p class="how-it-works-services-content">Read More <a href=#><img src="~/images/shape-2.png"></a></p>
                </div>
            </div>
        </div>
    </div>
    <a href="#top" class="to-top">
        <img src="~/images/up-aero.png">
    </a>
</section>
