
@{
    ViewData["Title"] = "Prices";
}

<div>
    <img class="img-fluid" src="~/images/group-18.png" alt="" style="width:100%;height: auto;">
</div>

<div class="container prices-container">
    <p>Prices</p>
</div>

<div class="faq-pattern">
    <hr>
    <img src="~/images/star.png" style="width: 24px;height: 25px;">
    <hr class="hr2">
</div>


<div class="container container1">
    <div class="price-div1">
        <p class="price-euro" style="font-size: 48px;">20 ₹<span style="font-size: 24px;">/hr</span></p>
        <div class="col extraservice">
            <div class="row">
                <img src="~/images/forma-1_5.png">
                <p>Lower prices</p>
            </div>
            <div class="row">
                <img src="~/images/forma-1_5.png">
                <p>Easy online & secure payment</p>
            </div>
            <div class="row">
                <img src="~/images/forma-1_5.png">
                <p>Easy amendment</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr class="hr1">
</div>

<div class="container ext-service">
    <p>Extra Services</p>
</div>

<div class="faq-pattern">
    <hr>
    <img src="~/images/star.png" style="width: 24px;height: 25px;">
    <hr class="hr2">
</div>

<div class="container">
    <div class="services-img">

        <div>
            <input type="checkbox"  id="mycheckbox1"/>
            <label  class="check-label"><img src="~/images/service_1.png" id="cabinetimg"></label>
            <p>Inside cabinets</p>
        </div>
        <div>
            <input type="checkbox"  id="mycheckbox1"/>
            <label  class="check-label"><img src="~/images/service_2.png" id="fridgeimg"></label>
            <p>Inside fridge</p>
        </div>
        <div>
            <input type="checkbox"  id="mycheckbox1"/>
            <label class="check-label"><img src="~/images/service_3.png" id="ovenimg"></label>
            <p>Inside oven</p>
        </div>
        <div>
            <input type="checkbox"  id="mycheckbox1"/>
            <label class="check-label"><img src="~/images/service_4.png" id="laundryimg"></label>
            <p>Laundry wash & dry</p>
        </div>
        <div>
            <input type="checkbox"  id="mycheckbox1"/>
            <label class="check-label"><img src="~/images/service_5.png" id="windowimg"></label>
            <p>Interior windows</p>
        </div>

    </div>
</div>


<div class="container-fluid include-cleaning">

    <div class="container include-cleaning-div1">
        <p>What we include in cleaning</p>
    </div>

    <div class="faq-pattern">
        <hr>
        <img src="~/images/star.png" style="width: 24px;height: 25px;">
        <hr class="hr2">
    </div>

    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">

            <div class="col-sm-4 cleaning">
                <img src="~/images/group-18_3.png" style="width:100%">
                <p>Bedroom and Living Room</p>
                <div>
                    <img src="~/images/included.png">
                    <span>Included Dust all accessible surfaces  </span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Included Wipe down all mirrors and glass fixtures</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Not Included Clean all floor surfaces</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Included Take out garbage and recycling</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>To Clean up</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Make beds</span>
                </div>
            </div>

            <div class="col-sm-4 cleaning">
                <img src="~/images/group-18_4.png" style="width:100%">
                <p>Bathrooms</p>
                <div>
                    <img src="~/images/included.png">
                    <span>Included Wash and sanitize the toilet, shower, tub, sink</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Not Included Dust all accessible surfaces</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Included Wipe down all mirrors and glass fixtures</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Not Included Clean all floor surfaces</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Included Take out garbage and recycling</span>
                </div>
            </div>

            <div class="col-sm-4 cleaning">
                <img src="~/images/group-18_2.png" style="width:100%">
                <p>Kitchen</p>
                <div>
                    <img src="~/images/included.png">
                    <span>Cleaning the sink</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Cleaning the oven (outside)</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Cleaning the work surfaces</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Included Dust all accessible surfaces</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Included Clean all floor surfaces</span>
                </div>
                <div>
                    <img src="~/images/included.png">
                    <span>Included Take out garbage and recycling</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container why-helper-land">
    <p>Why Helperland</p>
</div>

<div class="faq-pattern">
    <hr>
    <img src="~/images/star.png" style="width: 24px;height: 25px;">
    <hr class="hr2">
</div>

<div class="container" style="margin-bottom: 70px;">
    <div class="row">
        <div class="col best-img-div-right" style="text-align: right;">
            <div class="row">
                <p class="why-heading">Experienced and vetted professionals</p>
                <p class="why-content">
                    dominate the industry in scale and scope with an adaptable, extensive network that consistently
                    delivers exceptional results.
                </p>
            </div>
            <div class="row">
                <p class="why-heading">Dedicated customer service</p>
                <p class="why-content">
                    to our customers and are guided in all we do by their needs. The team is always happy to support you
                    and offer all the information. you need.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <img src="~/images/the-best-img-1.png" alt="the-best-img" class="img-responsive remove" style="margin-left: 22px;margin-right: 25px;">
            </div>
        </div>

        <div class="col best-img-div-left" style="text-align: left;">
            <div class="row">
                <p class="why-heading">Every cleaning is insured</p>
                <p class="why-content">
                    and seek to provide exceptional service and engage in proactive behaviour. We'd be happy to clean your
                    homes.
                </p>
            </div>
            <div class="row">
                <p class="why-heading">Secure online payment</p>
                <p class="why-content">
                    Payment is processed securely online. Customers pay safely online and manage the booking.
                </p>
            </div>
        </div>
    </div>
</div>
<a href="#top" class="to-top">
    <img src="~/images/up-aero.png">
</a>


