@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --font-family: "Roboto";
    --normal-font: 17px;
    /* --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s ease; */
  }

.Rounded-Rectangle{
    border: 1px solid #fff;
    border-radius: 20px;
    letter-spacing: 0.5px;
}


.nav-link{
    font-family: var(--font-family);
    font-size: var(--normal-font);
    color:white;
    text-align: center;
    letter-spacing: 0.5px;
  
}

ul li{
    margin: 0px 3px ;

}

ul li a:hover{
    color: white;
}

.shape{
    height: 255px;
    width: 24px;
    background-color: #1d7a8c;
}

.container1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
}

.Rectangle-21-copy-3 {
    width: 100px;
    padding-bottom: 10px;
    font-size: 24px;
    color: #fff;
    font-family: var(--font-family);
    background-color: #1d7a8c;
    
  }
  
.Rectangle-21 {
    width: 100px;
    padding-bottom: 10px;
    font-size: 24px;
    color: black;
    font-family: var(--font-family);
    background-color: #f6f6f6;
    border-bottom: 3px solid #1d7a8c;
  }

  .collapse-title{
      font-family: var(--font-family);
      text-align: justify;
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #646464;
  }

  .collapse-content{
    font-family: var(--font-family);
    font-size: 16px;
    color: #646464;
    text-align: justify;

}

.mail-btn {
    text-align: center;
    width: 233px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #565656;
    background-color: #f4f5f8;
  }

.up-aero{
    background:#525252;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: -450px;
    margin-top: -50px;
}

.msg-us{
    width: 48px;
    height: 48px;
    margin-left: 450px;
    margin-top: -50px;
}
.submit-btn {
    width: 88px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #ff7b6d;
    background-color: #ff7b6d;
  }

div p a{
    color: white;
}

div p a:hover{
    color: white;
}
#main {
    width: 50px;
    height: 50px;
    background-color: #1d7a8c;
    position: relative;
    overflow: hidden;
}

.cleaning div{
    margin-bottom: 5px;
}

.cleaning div span{
    font-size: 16px;
    font-family: Roboto;
    color: #4F4F4F;
}

.why-heading{
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: #646464;
}

.why-content{
    font-family: Roboto;
    font-size: 14px;
    color: #646464;
}

.up-aero{
    background:#525252;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: -450px;
    margin-top: -50px;
}

.msg-us{
    width: 48px;
    height: 48px;
    margin-left: 450px;
    margin-top: -50px;
}
.submit-btn {
    width: 88px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #ff7b6d;
    background-color: #ff7b6d;
  }

.contact-section{
    margin-top: 52.92px;
}
.contact-img{
    padding-top: 10px;
    margin-bottom: 19.99px;
}

/* .div2 div p{
    white-space: pre;
} */

.form-section input,select,textarea{
    border: #C8C8C8 1px solid;
    border-radius: 4px;
    margin-bottom: 15px;
    height: 46px;
    font-family: Roboto;
    font-size: 16px;
}

.form-btn{
    border: none;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    border-radius: 23px;
    background-color: #1D7A8C;
    width: 163px;
    height: 46px;
}

.map-section{
    margin-top: 92px;;
}
.map-section{
    position: relative; 
    left: 0; 
    top: 0;
}

.map{
    position: relative;
    top:0;
    left: 0;
}

.pin{
    position: absolute;
    left: 600px;
    top: 150px;
}

.few-words-section{
    margin-bottom: 39.67px;
}

.story-section{
    margin-bottom: 47.67px;
}
/* .about-para{
    margin-left: 284px;
    margin-right: 284px;
} */
.about-para p{
    font-size: 16px;
    font-family: Roboto;
    color: #646464;
}

.become-pro-background {
    background-image: url(./images/become-a-pro-banner.png);
    position: center;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

.become-pro-section{
    margin-top: 67px;
}

.become-pro-form{
    background-color: white;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 2px;
    padding-bottom: 19px;
}

.register-now{
    font-size: 24px;
    font-family: Roboto;
    color: #4F4F4F;
    font-weight: bold;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 24px;
}

.form-btn{
    border: none;
    margin-top: 20px;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    border-radius: 23px;
    background-color: #1D7A8C;
    width: 163px;
    height: 46px;
}

.downarrow{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}
.image1{
    margin: auto;
    position: absolute;
    text-align: center;
    display: block;
}

.image2{
    position: absolute;
    margin: auto;
    display: block;
    padding-top: 5px;
}

.scroller{
    margin-top: 44px;
}

.how-it-works div p{
    position: relative;
    color: #4f4f4f;
    font-size: 40px;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    padding-top: 68px;
    margin-bottom: 73px;
}

/* .how-it-works-services-title{
    margin-top: auto;
    margin-bottom: auto;
} */

.how-it-works-services-title{
    font-weight: bold;
    font-family: Roboto;
    font-size: 30px;
    color: #4F4F4F;
}

.how-it-works-services-content{
    font-family: Roboto;
    font-size: 18px;
    color: #4F4F4F;
}

div p a{
    color: white;
}

div p a:hover{
    color: white;
}

.vertical-line{
    border-right: 1px solid white;
    height: 48px;

}


.name-container div{
    text-align: center;
    background-color: #F9F9F9;
    font-weight: bold;
    font-family: Roboto;
    min-height: 119px;
    padding-top: 38px ;
    
}
@media(max-width:991px){
    .navbar-nav .remove{
        display: none;
    }
}