@model HelperLand.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}



<div class="text-success">
    <h4>@ViewBag.Message</h4>
</div>
<section class="few-words-section">

    <div class="container few-word-div">
        <p>Reset your Password</p>
    </div>

    <div class="faq-pattern">
        <hr>
        <img src="~/images/star.png" style="width: 24px;height: 25px;">
        <hr class="hr2">
    </div>

</section>

<hr />

<form asp-controller="Account" asp-action="ResetPassword"  method="post">
    <div class="row justify-content-center form-group">

        <div class="col-lg-3 col-sm-6 col">
            <div class="">
                <input class="form-control" asp-for="newPassword" id="password" placeholder="Password">
                
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col">
            <div class="form-group">
                <input class="form-control" asp-for="confirmPassword" id="confirm_pswd" placeholder="Confirm Password">
                
            </div>

            <div class="form-group">
                
                @Html.HiddenFor(a => a.resetlink)
            </div>
            <div class="form-group">
                <input type="submit"  value="Reset" formmethod="post" class="btn btn-primary">  
            </div>
        </div>
        
    </div>
</form>
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="newPassword" class="control-label"></label>
                <input asp-for="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="control-label"></label>
                <input asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>*@



